body {
    font-family: Arial, sans-serif;
    background-color: #0f626c;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #00796b;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #00796b;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #00796b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #004d40;
}

#resultado {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}
